---
'0': l
'1': a
'2': 'y'
'3': o
'4': u
'5': t
'6': ':'
'7': 'n'
'8': i
'9': l
published: true
---

{% include header.html %}
</div>
<div id="news">
<h2>Data</h2>
  <a class="people" href="/data/Archer_SedAccumRate.mat">Archer_SedAccumRate.mat</a><br />
  <a class="people" href="/data/ASAR.mat">ASAR.mat</a><br />
  <a class="people" href="/data/Divins_SedThickness.mat">Divins_SedThickness.mat</a><br />
  <a class="people" href="/data/ETOPO1_Bathymetry.mat">ETOPO1_Bathymetry.mat</a><br />
  <a class="people" href="/data/Muller_CrustalAge.mat">Muller_CrustalAge.mat</a><br />
  <a class="people" href="/data/Ocean_basin_code.mat">Ocean_basin_code.mat</a><br />
  <a class="people" href="/data/README.txt">README.txt</a><br /><br /><br />

<h2>Code</h2>
  <a class="people" href="/data/Sed_fit_code.m">Sed_fit_code.m</a>: 
  <p>Provides example code snippets for calculating fits for Thickness vs Age data.</p>
  <a class="people" href="/data/bins.m">bins.m</a>: 
  <p>Binning script used to bin thickness (or any) data.</p>
  
  <b>README</b>
  <p>
  Dataset index: <br />
Archer_SedAccumRate.mat <br />
<!-- AREA.mat <br /> -->
ASAR.mat <br />
Divins_SedThickness.mat <br />
ETOPO1_Bathymetry.mat <br />
Muller_CrustalAge.mat <br />
Ocean_basin_code.mat <br />
<br />

All data are in 0.1 degree grids (1801x3601). <br /><br />

Archer`s Sediment Accumulation Rate (Archer_SedAccumRate.mat) units: m/Ma<br />
<!--
Grid area (AREA.mat) units: km^2<br />
-->    
Time averaged Sediment Accumulation Rate = Divins Thickness / Crustal Age (ASAR.mat) units: m/Ma<br />

Divins` Sediment Thickness (Divins_SedThickness.mat) units: m<br />

ETOPO1 Bathymetry (ETOPO1_Bathymetry.mat) units: m<br />

Muller`s Crustal Age (Muller_CrustalAge.mat) units: Ma<br /><br />

Ocean basin codes:<br />
3 = Indian <br />
5 = N. Atlantic<br />
6 = N. Pacific<br />
7 = S. Atlantic<br />
9 = S. Pacific

    </div>
</div>
</div>

{% include footer.html %}
